In [25]:
%%capture

!pip install snowflake-connector-python

In [26]:
%%capture

!pip install snowflake-sqlalchemy

In [27]:
%%capture

!pip install seaborn

In [28]:
import os
import pickle
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn import metrics

import sqlalchemy
import snowflake.connector
from sqlalchemy import create_engine
from snowflake.sqlalchemy import *

import xgboost
from datetime import datetime, timedelta
import time
import LOS_preprocessing
from LOS_preprocessing import preprocessed_data

In [29]:
import warnings
warnings.filterwarnings('ignore')

In [30]:
# Creating the connection engine (way 1)
engine = create_engine(URL(
        account="atb69264.us-east-1",
        user= 'AbhijithN',
        password= 'Mahathma@1947',
        role="ACCOUNTADMIN",
        warehouse="COMPUTE_WH",
        database="HEALTHDB",
        schema="HEALTHSCHEMA"
    ))

In [31]:
engine

Engine(snowflake://AbhijithN:***@atb69264.us-east-1/HEALTHDB/HEALTHSCHEMA?role=ACCOUNTADMIN&warehouse=COMPUTE_WH)

In [32]:
query = """
WITH BASE AS (

    SELECT CASE_ID,
           COALESCE(HOSPITAL_CODE, 0) AS HOSPITAL_CODE,
           COALESCE(HOSPITAL_TYPE_CODE, 'None') AS HOSPITAL_TYPE_CODE,
           COALESCE(CITY_CODE_HOSPITAL, 0) AS CITY_CODE_HOSPITAL,
           COALESCE(HOSPITAL_REGION_CODE, 'None') AS HOSPITAL_REGION_CODE,
           COALESCE(AVAILABLE_EXTRA_ROOMS_IN_HOSPITAL, 0) AS AVAILABLE_EXTRA_ROOMS_IN_HOSPITAL,
           COALESCE(DEPARTMENT, 'None') AS DEPARTMENT,
           COALESCE(WARD_TYPE, 'None') AS WARD_TYPE,
           COALESCE(WARD_FACILITY_CODE, 'None') AS WARD_FACILITY_CODE,
           COALESCE(BED_GRADE, 0) AS BED_GRADE,
           PATIENTID,
           COALESCE(CITY_CODE_PATIENT, 0) AS CITY_CODE_PATIENT,
           COALESCE(TYPE_OF_ADMISSION, 'None') AS TYPE_OF_ADMISSION,
           COALESCE(SEVERITY_OF_ILLNESS, 'Minor') AS SEVERITY_OF_ILLNESS,
           COALESCE(VISITORS_WITH_PATIENT,0) AS VISITORS_WITH_PATIENT,
           COALESCE(AGE,'None') AS AGE,
           COALESCE(ADMISSION_DEPOSIT,0) AS ADMISSION_DEPOSIT,
           ADMISSION_DATE,
           DISCHARGE_DATE

    FROM HEALTHDB.HEALTHSCHEMA.HEALTH_DATA

),

BASE_WITH_FEATURES AS(

    SELECT *,
            MONTHNAME(ADMISSION_DATE) AS ADMISSION_MONTH,
            DAYNAME(ADMISSION_DATE) AS ADMISSION_DAY,
            CONCAT(TYPE_OF_ADMISSION, '-', SEVERITY_OF_ILLNESS) AS ADMISSION_ILLNESS,
            CONCAT(SEVERITY_OF_ILLNESS, '-', BED_GRADE) AS ILLNESS_BEDGRADE,
            CONCAT(DEPARTMENT, '-', SEVERITY_OF_ILLNESS) AS DEPARTMENT_ILLNESS,
            DATEDIFF(day, ADMISSION_DATE, DISCHARGE_DATE) AS LOS
    FROM BASE
            
)

SELECT * FROM BASE_WITH_FEATURES ;"""

In [33]:
def test_data_feature_check(df,feature_list):
    test=pd.DataFrame()
    for column in feature_list:
        if column in df.columns.tolist():
            test[column]=df[column]
        else: 
            test[column]=0
    return test

In [34]:
def inserting_predictions_into_snowflake_table(data):
    import pandas as pd
    import snowflake.connector
    from snowflake.connector.pandas_tools import pd_writer,writer_pandas
    # Creating the connection engine (way 1)
    engine = create_engine(URL(
        account="tb69264.us-east-1",
        user= 'AbhijithN',
        password= 'Mahathma@1947',
        role="ACCOUNTADMIN",
        warehouse="COMPUTE_WH",
        database="HEALTHDB",
        schema="HEALTHSCHEMA"
      ))
    table='LOS_MODEL_PREDICTIONS_LOGGING_TABLE'
    data.to_sql(table,engine,index=False,if_exists='append',method=pd_writer)
    return 'success'

In [11]:
with engine.connect() as conn:
    score_data=pd.DataFrame(pd.read_sql(query,conn))
    score_data.columns=[col.upper() for col in score_data.columns.tolist()]

    score_data_preprocessed=LOS_preprocessing.preprocessed_data(score_data)

    final_features=pd.read_pickle('model_with_final_features.pkl')
    score_data_final=test_data_feature_check(score_data,final_features) 

    model=xgboost.XGBRegressor()
    model.load_model("xgb_model.model")
    score_data_final['PREDICTED_LOS']=np.ceil(model.predict(score_data_final.drop('LOS',axis=1)))

    score_data_final=score_data_final.reset_index().rename(columns={'index':'CASE_ID'})
    score_data_table=pd.merge(score_data,score_data_final,on='CASE_ID',how='left')
    status=inserting_predictions_into_snowflake_table(score_data_table)

ImportError: cannot import name 'writer_pandas' from 'snowflake.connector.pandas_tools' (/opt/conda/lib/python3.10/site-packages/snowflake/connector/pandas_tools.py)

In [35]:
def send_status_mail(mail_string):
    import mail_creds
    import smtplib
    from email.mime.multipart import MIMEMultipart
    from email.mime.text import MIMEText
    from email.mime.multipart import MIMEMultipart
    from email.mime.base import MIMEBase
    from email.mime.text import MIMEText
    from email.utils import formatdate
    from email import encoders
    
    subject = 'Patient LOS Prediction - STATUS MAIL'
    mail_content = mail_string

    username= mail_creds.MAIL_ID
    password= mail_creds.APP_PASSWORD
    send_from = mail_creds.MAIL_ID
    send_to = mail_creds.MAIL_ID
    Cc = ''
    msg = MIMEMultipart()
    msg['From'] = send_from
    msg['To'] = send_to
    msg['Cc'] = Cc
    msg['Date'] = formatdate(localtime = True)
    msg['Subject'] = subject
    msg.attach(MIMEText(mail_content, 'plain'))
    smtp = smtplib.SMTP('smtp.gmail.com',587)
    smtp.ehlo()
    smtp.starttls()
    smtp.login(username,password)
    smtp.sendmail(send_from, send_to.split(',') + msg['Cc'].split(','), msg.as_string())
    smtp.quit()

In [36]:
score_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236704 entries, 0 to 236703
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   CASE_ID                            236704 non-null  int64
 1   HOSPITAL_CODE                      236704 non-null  int64
 2   HOSPITAL_TYPE_CODE                 236704 non-null  object
 3   CITY_CODE_HOSPITAL                 236704 non-null  int64
 4   HOSPITAL_REGION_CODE               236704 non-null  object
 5   AVAILABLE_EXTRA_ROOMS_IN_HOSPITAL  236704 non-null  int64
 6   DEPARTMENT                         236704 non-null  object
 7   WARD_TYPE                          236704 non-null  object
 8   WARD_FACILITY_CODE                 236704 non-null  object
 9   BED_GRADE                          236704 non-null  int64
 10  PATIENTID                          236704 non-null  int64
 11  CITY_CODE_PATIENT                  236704 non-null  int64
 12  TYPE_OF_ADMISSION                  236704 non-null  object
 13  SEVERITY_OF_ILLNESS                236704 non-null  object
 14  VISITORS_WITH_PATIENT              236704 non-null  int64
 15  AGE                                236704 non-null  object
 16  ADMISSION_DEPOSIT                  236704 non-null  int64
 17  ADMISSION_DATE                     236704 non-null  object
 18  DISCHARGE_DATE                     236704 non-null  object
 19  ADMISSION_MONTH                    236704 non-null  object
 20  ADMISSION_DAY                      236704 non-null  object
 21  ADMISSION_ILLNESS                  236704 non-null  object
 22  ILLNESS_BEDGRADE                   236704 non-null  object
 23  DEPARTMENT_ILLNESS                 236704 non-null  object
 24  LOS                                236704 non-null  int64
dtypes: int64(10), object(15)
memory usage: 45.1+ MB

In [37]:
score_data.head()

,CASE_ID,HOSPITAL_CODE,HOSPITAL_TYPE_CODE,CITY_CODE_HOSPITAL,HOSPITAL_REGION_CODE,AVAILABLE_EXTRA_ROOMS_IN_HOSPITAL,DEPARTMENT,WARD_TYPE,WARD_FACILITY_CODE,BED_GRADE,PATIENTID,CITY_CODE_PATIENT,TYPE_OF_ADMISSION,SEVERITY_OF_ILLNESS,VISITORS_WITH_PATIENT,AGE,ADMISSION_DEPOSIT,ADMISSION_DATE,DISCHARGE_DATE,ADMISSION_MONTH,ADMISSION_DAY,ADMISSION_ILLNESS,ILLNESS_BEDGRADE,DEPARTMENT_ILLNESS,LOS
0,1,8,c,3,Z,3,radiotherapy,R,F,2,31397,7,Emergency,Extreme,2,51-60,4911,2022-08-10,2022-08-20,Aug,Wed,Emergency-Extreme,Extreme-2,radiotherapy-Extreme,10
1,3,10,e,1,X,2,anesthesia,S,E,2,31397,7,Trauma,Extreme,2,51-60,4745,2022-09-09,2022-10-19,Sep,Fri,Trauma-Extreme,Extreme-2,anesthesia-Extreme,40
2,4,26,b,2,Y,2,radiotherapy,R,D,2,31397,7,Trauma,Extreme,2,51-60,7272,2022-09-22,2022-11-11,Sep,Thu,Trauma-Extreme,Extreme-2,radiotherapy-Extreme,50
3,5,26,b,2,Y,2,radiotherapy,S,D,2,31397,7,Trauma,Extreme,2,51-60,5558,2022-11-02,2022-12-22,Nov,Wed,Trauma-Extreme,Extreme-2,radiotherapy-Extreme,50
4,6,23,a,6,X,2,anesthesia,S,F,2,31397,7,Trauma,Extreme,2,51-60,4449,2022-09-16,2022-10-06,Sep,Fri,Trauma-Extreme,Extreme-2,anesthesia-Extreme,20

In [21]:
score_data_final.head()

,CASE_ID,WARD_TYPE_P,AGE_31-40,ADMISSION_MONTH_Oct,SEVERITY_OF_ILLNESS_Minor,BED_GRADE_2,TYPE_OF_ADMISSION_Emergency,WARD_TYPE_Q,TYPE_OF_ADMISSION_Trauma,ADMISSION_DAY_Wed,ILLNESS_BEDGRADE_Extreme-1,ADMISSION_DAY_Mon,AGE_41-50,VISITORS_WITH_PATIENT,CITY_CODE_PATIENT_8,AGE_51-60,AVAILABLE_EXTRA_ROOMS_IN_HOSPITAL,CITY_CODE_HOSPITAL_2,CITY_CODE_HOSPITAL_7,ADMISSION_DEPOSIT,ADMISSION_DAY_Tue,ADMISSION_DAY_Thu,ADMISSION_DAY_Sun,ADMISSION_MONTH_Nov,WARD_TYPE_S,LOS,PREDICTED_LOS
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,3,0,0,4911,0,0,0,0,0,10,27.0
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,2,0,0,4745,0,0,0,0,0,40,27.0
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,2,0,0,7272,0,0,0,0,0,50,29.0
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,2,0,0,5558,0,0,0,0,0,50,28.0
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,2,0,0,4449,0,0,0,0,0,20,27.0

In [22]:
score_data_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236704 entries, 0 to 236703
Data columns (total 27 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   CASE_ID                            236704 non-null  int64
 1   WARD_TYPE_P                        0 non-null       float64
 2   AGE_31-40                          0 non-null       float64
 3   ADMISSION_MONTH_Oct                0 non-null       float64
 4   SEVERITY_OF_ILLNESS_Minor          0 non-null       float64
 5   BED_GRADE_2                        0 non-null       float64
 6   TYPE_OF_ADMISSION_Emergency        0 non-null       float64
 7   WARD_TYPE_Q                        0 non-null       float64
 8   TYPE_OF_ADMISSION_Trauma           0 non-null       float64
 9   ADMISSION_DAY_Wed                  0 non-null       float64
 10  ILLNESS_BEDGRADE_Extreme-1         0 non-null       float64
 11  ADMISSION_DAY_Mon                  0 non-null       float64
 12  AGE_41-50                          0 non-null       float64
 13  VISITORS_WITH_PATIENT              236704 non-null  int64
 14  CITY_CODE_PATIENT_8                236704 non-null  int64
 15  AGE_51-60                          236704 non-null  int64
 16  AVAILABLE_EXTRA_ROOMS_IN_HOSPITAL  236704 non-null  int64
 17  CITY_CODE_HOSPITAL_2               236704 non-null  int64
 18  CITY_CODE_HOSPITAL_7               236704 non-null  int64
 19  ADMISSION_DEPOSIT                  236704 non-null  int64
 20  ADMISSION_DAY_Tue                  236704 non-null  int64
 21  ADMISSION_DAY_Thu                  236704 non-null  int64
 22  ADMISSION_DAY_Sun                  236704 non-null  int64
 23  ADMISSION_MONTH_Nov                236704 non-null  int64
 24  WARD_TYPE_S                        236704 non-null  int64
 25  LOS                                236704 non-null  int64
 26  PREDICTED_LOS                      236704 non-null  float32
dtypes: float32(1), float64(12), int64(14)
memory usage: 47.9 MB

## Model Deployment

In [ ]:
def LOS_Model_Deployment():
    try:
        import os
        import pickle
        import pandas as pd
        import numpy as np
        pd.set_option('display.max_rows', 500)
        pd.set_option('display.max_columns', None)
        import matplotlib.pyplot as plt
        import seaborn as sns
        import sklearn
        from sklearn import metrics
        import sqlalchemy
        import snowflake.connector
        from sqlalchemy import create_engine
        from snowflake.sqlalchemy import *
        import xgboost
        from datetime import datetime, timedelta
        import time
        import LOS_preprocessing
        from LOS_preprocessing import preprocessed_data
        
        # Creating the connection engine (way 1)
        engine = create_engine(URL(
        account="atb69264.us-east-1",
        user= 'AbhijithN',
        password= 'Mahathma@1947',
        role="ACCOUNTADMIN",
        warehouse="COMPUTE_WH",
        database="HEALTHDB",
        schema="HEALTHSCHEMA"
        ))
        mail_list=[]
        with engine.connect() as conn:
            
            #Loading the scoring_data (test data) 
            score_data=pd.DataFrame(pd.read_sql(query,conn))
            score_data.columns=[col.upper() for col in score_data.columns.tolist()]
            mail_list.append('Step1: loading of scoring_data completed')

            # Applying the preprocessing steps
            score_data_preprocessed=LOS_preprocessing.preprocessed_data(score_data)
            mail_list.append('Step2: preprocessing steps completed')

            # Applying the feature selection        
            final_features=pd.read_pickle('model_with_final_features.pkl')
            score_data_final=test_data_feature_check(score_data,final_features)
            mail_list.append('Step3: feature selection completed')

            # Getting the predictions        
            model=xgboost.XGBRegressor()
            model.load_model("xgb_model.model")
            score_data_final['PREDICTED_LOS']=np.ceil(model.predict(score_data_final.drop('LOS',axis=1)))
            mail_list.append('Step4: Getting predictions step completed')

            # Writing a dataframe to snowflake as a table        
            score_data_final=score_data_final.reset_index().rename(columns={'index':'CASE_ID'})
            score_data_table=pd.merge(score_data,score_data_final,on='CASE_ID',how='left')
            status=inserting_predictions_into_snowflake_table(score_data_table)
            mail_list.append('Step5: Writing a dataframe to snowflake as a table step completed')

            # Creating a mail
            mail_sentence = ",\n".join(map(str,mail_list))
            send_status_mail(mail_sentence)
            print("Success")
    except:
        mail_sentence = "Scheduling has failed"